.body {
    display: flex;
    min-height: 100vh;
}

.logo {
    padding: .5em .5em 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 200px;
    background-color: var(--bg-dark);
}